@{
    Layout = "AdminLayout";
}
<h1>YBlogListExel</h1>
@* <button class="btn btn-primary" onclick="DownloadExcelList">Excel Listesini İndir</button> *@
<br/>
<a href="/Admin/Blog/ExportStaticExcelBlogList">Excel Listesini İndir</a>

@* <script> *@
@* function DownloadExcelList(){ *@
@*     window.open("/Admin/Blog/ExportStaticExcelBlogList"); *@
@*     } *@
@* </script> *@