@using EntityLayer.Concrete
@model List<Notfication>
@{
    Layout = "WriterLayout";
}
<h1>Bildirimler</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Bildirim</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.NotficationId</td>
            <td>@item.NotficationDetails</td>
            <td>@item.NotficationDate.ToShortDateString()</td>
        </tr>
    }
</table>