@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departmant</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Murat</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Ali</td>
        <td>Yazılım</td>
    </tr>
</table>