
@{
    Layout = "AdminLayout";
}
<h1>yazar ajax paneli</h1>
<br />
<button type="button" id="btngelist" class="btn btn-outline-primary">Yazar listesi</button>
<button type="button" id="btngetbyıd" class="btn btn-outline-success">Yazar Getir</button>
<button type="button" id="btnaddwriter" class="btn btn-outline-info">Yazar Ekle</button>
<button type="button" id="btndeletewriter" class="btn btn-outline-danger">Yazar Sil</button>
<button type="button" id="btnupdatewriter" class="btn btn-outline-warning">Yazar Güncelle</button>
<br /><br />
<div id="writerlist">
    <h5>Yazarlar</h5>
</div>
<br /><br />
<div id="writerget">
    <h5>Bir Yazar</h5>
</div>
<br /><br />
<div>
    <input type="text" id="id" class="form-control" placeholder="Yazar Id değerini girin"/>
</div>
<br /><br />
<div>
    <input type="text" class="form-control" id="txtwriterid" placeholder="Yazar Id"/>
    <input type="text" class="form-control" id="txtwritername" placeholder="Yazar Adı"/>
</div>
<br /><br />
<div>
    <input type="text" id="writerid" class="form-control" placeholder="Silinecek Yazar Id"/>
</div>
<br /><br />
<div>
    <input type="text" id="updateid" class="form-control" placeholder="Güncellenecek Yazar Id"/>
    <input type="text" id="updatename" class="form-control" placeholder="Güncellenecek Yazar İsim"/>
</div>
@* @section scripts *@
@* { *@
    <script>
        $('#btngelist').click(function() {
          $.ajax({
            contentType: "application/json",
            dataType : "json",
            type: "Get",
            url : "/Admin/Writer/WriterList/",
            success: function (func){
                let w = jQuery.parseJSON(func)
                let tablehtml = "<table class=table table-bordered> <tr> <th>Yazar Id </th> <th>Yazar Adı </th> </tr>";
                $.each(w, (index, value) => {
                    tablehtml +=`<tr><td>${value.Id}</td> <td>${value.Name}</td></tr>`
                });
                tablehtml += "</table>";
                $("#writerlist").html(tablehtml);
                }
          });
        });
        
        $("#btngetbyıd").click(x=>{
        let id = $("#id").val();
        console.log(id)
         $.ajax({
            contentType: "application/json",
            dataType : "json",
            type: "Get",
            url : "/Admin/Writer/GetWriterById/",
            data: {id:id},
            success: function (func){
                let w = jQuery.parseJSON(func)
                console.log(w)
                let getvalue = `<table class=table table-bordered> <tr> <th>Yazar Id </th> <th>Yazar Adı </th> </tr><tr><td>${w.Id}</td><td>${w.Name}</td></tr></table>`;
                
                $("#writerget").html(getvalue);
                }
          });
        });
        
        $('#btnaddwriter').click(function() {
          let writer = {
              Id:$("#txtwriterid").val(),
              Name:$("#txtwritername").val()
          };
           $.ajax({
              type: "Post",
              url : "/Admin/Writer/AddWriter/",
              data: writer,
              success: function (func){
                  console.log(w)
                  let result = jQuery.parseJSON(func);
                  alert("Yazar Ekleme işlemi gerçekleşti");
                  }
            });
        });
        
        $('#btndeletewriter').click(x=> {
          let id = $("#writerid").val();
           $.ajax({
                type: "Post",
                url : "/Admin/Writer/DeleteWriter/"+ id,
                dataType:"json",
                success: function (func){
                    alert("Yazar Silme işlemi gerçekleşti");
                    }
              });
        })
        
        $('#btnupdatewriter').click(function () {
            let writer = {
               Id : $("#updateid").val(),
               Name : $("#updatename").val()
              };
           $.ajax({
                type: "Post",
                url : "/Admin/Writer/UpdateWriter/",
                data:writer,
                dataType:"json",
                success: function (func){
                    alert("Yazar Güncelleme işlemi gerçekleşti");
                }
              });
                });
    </script>
@* } *@
